<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Hire Me | {{ site_title }}</title>
  
  {{> meta}}
  <meta name="og:url" content="https://www.kelsiemcwilliams.com/hire-me/index.html">

  <link rel="stylesheet" type="text/css" href="/stylesheets/site.css">
</head>
<body>
  
  {{> header}}
  
    <!-- Hero footer: will stick at the bottom -->
    <footer class="hero-foot">
      <header class="container has-text-centered">
        <h2 class="title pt-0 pb-3">Hire Kelse</h2>
      </header>
      <nav class="tabs is-centered is-boxed">
        <div id="details" class="container">
          <ul>
            <li class="is-active">
              <a href="#details">Details</a>
            </li>
            <li class="is-active">
              <a href="#rates">Rates</a>
            </li>
            <li class="is-active">
              <a href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </footer>
  </header>

  <main class="section">
    <section class="section">
      <div class="container">
        <div class="columns is-centered is-multiline">
          {{#section hire_me_details_sections multiple=true sortable=true priority=8}}
          <article class="column is-one-third">
            <h3 class="title">{{ header priority=1 }}</h3>
            <div class="content">
            {{ text type="html" help="Use this to make lists or sub-sections with bold headers." priority=2 }}
            </article>
          </article>
        {{/section}}
        </div>
      </div>
    </section>

    <section id="rates" class="section">
      <div class="container">
      <h3 class="title">Freelance Rates</h3>
      <article class="table-container">
        <table class="table is-hoverable is-fullwidth">
          <thead>
            <th>Type of Work</th>
            <th>Pace (pages per hour) <span class="icon details" data-tooltip="one page = 250 words"><i class="icon-translate" data-icon="Question"></i></span></th>
            <th>Rate</th>
          </thead>
          <tbody>
            {{#section rate_table_rows multiple=true sortable=true priority=9}}
            <tr>
              <td>{{ type_of_work }}{{#if explanation}} <span class="icon modal-open" data-modal="modal_{{_created_at format="%Y%m%d%H%M%S"}}"><i class="icon-translate" data-icon="Question"></i></span>{{/if}}</td>
              <td>{{ pace }}</td>
              <td>{{ rate }}</td>
            </tr>
            {{/section}}
          </tbody>
        </table>
      </article>
      {{#section rate_table_rows}}{{#if explanation}}
      <div class="modal" id="modal_{{_created_at format="%Y%m%d%H%M%S"}}">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Service List for {{ type_of_work }}</p>
            <button class="delete" aria-label="close"></button>
          </header>
          <section class="modal-card-body">
            <article class="content">
            {{ explanation type=html }}
            </article>
          </section>
          <footer class="modal-card-foot"></footer>
        </div>
      </div>
      {{/if}}{{/section}}
      </div>
    </section>

    <section id="contact" class="section">
      <div class="container">
        <h3 class="title">Contact Kelsie</h3>
        <article class="content">
          <p>
            Send an email with your first and last name and a message explaining what kind of services you need to
          </p>
          <p>
            <code>{{ contact_email }}</code>
          </p>
        </article>
      </div>
    </section>
  </main>

  {{> footer}}
</body>
</html>
