$gap: 256px;
$breakpoint-gap: 32px;
$desktop: 960px + (2 * $breakpoint-gap);
$widescreen: 1152px + (2 * $breakpoint-gap);
$fullhd: 1344px + (2 * $breakpoint-gap);

@import '../../node_modules/bulma/bulma.sass';
@import '../../node_modules/tippy.js/dist/tippy.css';

.details {
  cursor: help;
}
.modal-open {
  cursor: pointer;
}