<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Resume | {{ site_title }}</title>
  
  {{> meta}}
  <meta name="og:url" content="https://www.kelsiemcwilliams.com/resume/index.html">

  <link rel="stylesheet" type="text/css" href="/stylesheets/site.css">
</head>
<body>
  
  {{> header}}
  
    <!-- Hero footer: will stick at the bottom -->
    <footer class="hero-foot">
      <header class="container has-text-centered">
        <h2 class="title pt-0 pb-3">Resume</h2>
      </header>
      <nav class="tabs is-centered is-boxed">
        <div class="container">
          <ul>
            {{#section resume priority=2}}
            <li class="is-active">
              <a href="#summary-of-qualifications">{{ summary_of_qualifications_header default="Summary of Qualifications" priority=1 }}</a>
            </li>
            <li class="is-active">
              <a href="#education">{{ education_header default="Education" priority=3 }}</a>
            </li>
            <li class="is-active">
              <a href="#work-experience">{{ work_experience_header default="Work Experience" priority=4 }}</a>
            </li>
            <li class="is-active">
              <a href="#publications">{{ publications_header default="Publications" priority=5 }}</a>
            </li>
            <li class="is-active">
              <a href="#freelance">{{ freelance_header default="Freelance" priority=6 }}</a>
            </li>
            {{/section}}
          </ul>
        </div>
      </nav>
    </footer>
  </header>

  <main class="section">
    <div class="container">
      <section id="summary-of-qualifications">
        {{#section resume}}
        <h3 class="title">{{ summary_of_qualifications_header }}</h3>
        <article class="content">
          {{ summary_bullets type="html" priority=2 }}
        </article>
        {{/section}}
      </section>

      <section id="education" class="mt-6">
        {{#section resume}}
        <h3 class="title">{{ education_header }}</h3>
        {{/section}}
        {{#section resume_education label="Resume: Education" multiple=true sortable=true priority=3}}
        <div class="columns mt-5">
          <div class="column is-four-fifths">
            {{ location priority=4 }}
          </div>
          <div class="column is-one-fifth">{{ date priority=5 }}
          </div>
        </div>
        <article class="content ml-6">
          {{ details type="html" help="Use this to make lists or sub-sections with bold headers." priority=6 }}
        </article>
        {{/section}}
      </section>

      <section id="work-experience" class="mt-6">
        {{#section resume}}
        <h3 class="title">{{ work_experience_header }}</h3>
        {{/section}}
        {{#section resume_work_experience label="Resume: Work Experience" multiple=true sortable=true priority=4}}
        <div class="columns mt-5">
          <div class="column is-four-fifths">
            {{ location priority=4 }}
          </div>
          <div class="column is-one-fifth">{{ date priority=5 }}
          </div>
        </div>
        <article class="content ml-6">
          {{ details type="html" help="Use this to make lists or sub-sections with bold headers." priority=6 }}
        </article>
        {{/section}}
      </section>

      <section id="work-experience" class="mt-6">
        {{#section resume}}
        <h3 class="title">{{ publications_header }}</h3>
        {{/section}}
        {{#section resume_publications label="Resume: Publications" multiple=true sortable=true priority=5}}
        <article class="content" style="padding-left: 22px;text-indent:-22px;">
          {{ citation type="html" priority=6 }}
        </article>
        {{/section}}
      </section>

      <section id="freelance" class="mt-6">
        {{#section resume}}
        <h3 class="title">{{ freelance_header }}</h3>
        {{/section}}
        {{#section resume_freelance label="Resume: Freelance" multiple=true sortable=true priority=6}}
        <div class="columns mt-5">
          <div class="column is-four-fifths">
            {{ title priority=4 }}
          </div>
          <div class="column is-one-fifth">{{ date priority=5 }}
          </div>
        </div>
        <article class="content ml-6">
          {{ details type="html" help="Use this to make lists or sub-sections with bold headers." priority=6 }}
        </article>
        {{/section}}
      </section>
    </div>
  </main>

  {{> footer}}
</body>
</html>