<header class="hero"
  style="background-image:url({{ header_image type=image tag=false priority=2 }});background-size:cover;background-position:center;">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a href="/" class="navbar-item">
            <h1 class="title is-3">{{ site_title priority=1 }}</h1>
          </a>
          <span id="mainMenuBurger" class="navbar-burger burger" data-target="mainMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="mainMenu" class="navbar-menu">
          <div class="navbar-end">
            <a href="/" class="navbar-item">
              About
            </a>
            <a href="/resume" class="navbar-item">
              Resume
            </a>
            <a href="/portfolio" class="navbar-item">
              Portfolio
            </a>
            <span class="navbar-item">
              <a href="/hire-me" class="button is-primary is-inverted">
                <span>Hire Me</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered is-vcentered">
        <div class="column has-text-centered is-one-fifth">
          <figure class="image is-1x1">
            {{ profile_picture type=image width=300 height=300 alt="Kelsie McWilliams" class="is-rounded" priority=3 }}
          </figure>
        </div>
        <article class="column is-half has-text-centered">
          <h1 class="title">
            {{#if greeting}}{{ greeting default="Hello, I'm" required=false priority=3 }} {{/if}}{{ name priority=3 }}
          </h1>
          <h2 class="subtitle">
            {{ short_about priority=4 }}
          </h2>
        </article>
      </div>
    </div>
  </div>