<link rel="shortcut icon" type="image/png" href="{{ favicon help="Use square PNGs only" type=image tag=false }}" />

<!-- Search Engine -->
<meta name="description" content="{{ short_about }}">
<meta name="image" content="{{ profile_picture tag=false }}">
<!-- Schema.org for Google -->
<meta itemprop="name" content="{{ site_title }}">
<meta itemprop="description" content="{{ short_about }}">
<meta itemprop="image" content="{{ profile_picture tag=false }}">
<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ site_title }}">
<meta name="twitter:description" content="{{ short_about }}">
<meta name="twitter:site" content="@KelsieMcW">
<meta name="twitter:creator" content="@KelsieMcW">
<meta name="twitter:image:src" content="{{ profile_picture tag=false }}">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="{{ site_title }}">
<meta name="og:description" content="{{ short_about }}">
<meta name="og:image" content="{{ profile_picture tag=false }}">
<meta name="og:site_name" content="{{ site_title }}">
<meta name="og:locale" content="en_US">
<meta name="og:type" content="website">