<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Portfolio | {{ site_title }}</title>
  
  {{> meta}}
  <meta name="og:url" content="{{_permalink}}">

  <link rel="stylesheet" type="text/css" href="/stylesheets/site.css">
</head>

<body>

  {{> header}}

  <!-- Hero footer: will stick at the bottom -->
    <footer class="hero-foot">
      <header class="container has-text-centered">
        <h2 class="title pb-3">Portfolio</h2>
      </header>
      <nav class="tabs is-boxed">
        <div id="content" class="container">
          <ul>
            <li class="is-active">
              <a href="/portfolio#infographic">&larr; Back</a>
            </li>
          </ul>
        </div>
      </nav>
    </footer>
  </header>

  {{#section portfolio_infographics}}
  <main class="section">
    <section class="container">
      <h2 class="title">{{ title }}</h2>
      {{#if explanation}}
      <article class="content">
        {{ explanation type="html" required=false priority=4 }}
      </article>
      {{/if}}
      <figure class="image">
        <a href="{{ infographic_full type="image" tag=false }}" title="View full image">
          <img src="{{ infographic_full type="image" tag=false priority=3 }}" alt="Infographic of {{ title }}" />
        </a>
      </figure>
    </section>
  </main>
  {{/section}}

  {{> footer}}
</body>

</html>