<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ site_title }}</title>
  
  {{> meta}}
  <meta name="og:url" content="https://www.kelsiemcwilliams.com/index.html">

  <link rel="stylesheet" type="text/css" href="/stylesheets/site.css">
</head>
<body>
  
  {{> header}}
  
    <!-- Hero footer: will stick at the bottom -->
    <footer class="hero-foot">
      <nav class="tabs is-centered is-boxed">
        <div class="container">
          <ul>
            {{#section about multiple=true sortable=true priority=1}}
            <li class="is-active">
              <a href="#{{ link help="lower-case-with-dashes" priority=2}}">{{ header placeholder="About Me" priority=1 }}</a>
            </li>
            {{/section}}
          </ul>
        </div>
      </nav>
    </footer>
  </header>

  <main class="section">
    {{#section about}}
    <section id="{{ link required=false }}" class="section container">
      <h3 class="title">{{ header }}</h3>
      <article class="content">
        {{ text type="html" priority=3 }}
      </article>
    </section>
    {{/section}}
  </main>

  {{> footer}}
</body>
</html>