<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Portfolio | {{ site_title }}</title>
  
  {{> meta}}
  <meta name="og:url" content="https://www.kelsiemcwilliams.com/portfolio/index.html">

  <link rel="stylesheet" type="text/css" href="/stylesheets/site.css">
</head>
<body>
  
  {{> header}}
  
    <!-- Hero footer: will stick at the bottom -->
    <footer class="hero-foot">
      <header id="content" class="container has-text-centered">
        <h2 class="title pt-0 pb-3">Portfolio</h2>
      </header>
      <nav class="tabs is-centered is-boxed">
        <div class="container">
          <ul>
            {{#section portfolio priority=10}}
            <li class="is-active">
              <a href="#text">{{ text_samples_header default="Text Samples" priority=1 }}</a>
            </li>
            <li class="is-active">
              <a href="#infographic">{{ infographic_samples_header default="Infographic Samples" priority=3 }}</a>
            </li>
            {{/section}}
          </ul>
        </div>
      </nav>
    </footer>
  </header>

  <main class="section"><div class="container">
    <section id="text" class="section">
      {{#section portfolio}}
      <h3 class="title">{{ text_samples_header }}</h3>
      {{/section}}
      <div class="columns is-centered is-multiline">
        {{#section portfolio_items label="Portfolio: Text Samples" multiple=true sortable=true priority=7}}
        <article class="column is-one-quarter">
          <a{{#if external_link}} target="_blank"{{/if}} href="{{#if external_link}}{{ external_link help="If using this, don't fill out text" required=false }}{{/if}}{{#unless external_link}}{{_permalink}}#content{{/unless}}">
            <div class="card">
              <div class="card-image has-text-centered pt-3">
                <figure class="image is-1x1">
                  <i class="icon-translate" data-icon="{{ category type=choice options="Writing,Medicine,Science,Literature,Person,News,Satire" input=dropdown priority=2 }}"></i>
                </figure>
              </div>
              <div class="card-content">
                <h3 class="title is-5 has-text-centered">
                  {{ title priority=1 }}{{#if external_link}}<sup class="icon"><i class="icon-translate" data-icon="External"></i></sup>{{/if}}
                </h3>
              </div>
            </div>
          </a>
        </article>
        {{/section}}
      </div>
    </section>
    
    <section id="infographic" class="section">
      {{#section portfolio}}
      <h3 class="title">{{ infographic_samples_header }}</h3>
      {{/section}}
      <div class="columns is-centered is-multiline">
        {{#section portfolio_infographics label="Portfolio: Infographics" multiple=true sortable=true priority=7}}
        <article class="column is-one-quarter">
          <a{{#if external_link}} target="_blank"{{/if}} href="{{#if external_link}}{{ external_link help="If using this, don't fill out text" required=false }}{{/if}}{{#unless external_link}}{{_permalink}}#content{{/unless}}">
            <div class="card">
              <div class="card-image has-text-centered pt-3">
                <figure class="image is-1x1">
                  <img src="{{ infographic_thumbnail type="image" tag=false width=300 height=300 priority=2 }}" alt="Infographic of {{ title }}" />
                </figure>
              </div>
              <div class="card-content">
                <h3 class="title is-5 has-text-centered">
                  {{ title priority=1 }}
                </h3>
              </div>
            </div>
          </a>
        </article>
        {{/section}}
      </div>
    </section>
  </div></main>

  {{> footer}}
</body>
</html>